div{
    height: 200px;
    width: 200px;
    border-width: 1px;
    border-color: black;
    text-align:  centre;
    border-style: solid;
    display:inline-block;
}

h1{
    height:200px;
    width: 200px;
    background-color: lightgreen;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    text-align: center;
    border-radius: 10px; 
    padding: 1px 2px 3px 4px;
    margin-top:50px;
    
}

#box2{
    /* display: none; */
    background-color: rgba(255,0,0,0.66)
}

#box1{
    background-color: rgba(255,0,0,0.56)
}

#box3{
    background-color: rgba(0,0,255,0.56)
}