div{
    height: 200px;
    width: 200px;
    background-color: lightblue;
    border-width: 1px;
    border-color: black;
    text-align:  centre;
    border-style: solid;
    display:inline-block;
}

h1{
    height:200px;
    width: 200px;
    background-color: lightgreen;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    text-align: center;
    border-radius: 10px; 
    padding: 1px 2px 3px 4px;
    margin-top:50px;
    
}